{% extends 'base/base.html' %}

{% block zawartosc %}
    <table>
        <thead>
        </thead>
        <tbody>
        <tr>
            <td>Tytuł</td>
            <td>{{ movie.title }}</td>
        </tr>
        <td>rok</td>
        <td>{{ movie.year }}</td>
        <tr>
            <td>reżyser</td>
            <td>{{ movie.director.last_name }}</td>
        </tr>
        <tr>
            <td>scenariusz</td>
            <td>{{ movie.screenplay.last_name }}</td>
        </tr>

        <tr>
            <td>Gatunki</td>
            <td>{% for genre in movie.genre.all %}{{ genre.name }}<br>{% endfor %}</td>
        </tr>
        <tr>
            <td>Wystąpili</td>
            <td>{% for starring in movie.starring_set.all %} {{ starring.person }} jako {{ starring.role }}<br>{% endfor %}</td>
        </tr>


        </tbody>
    </table>
    <a href="{% url 'add_actor' movie.id %}">Dodaj Aktora</a>
{% endblock %}